

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}




a, a:hover, a:focus {
  color: #FFFFFF;
}
a .material-icons, a:hover .material-icons, a:focus .material-icons {
  vertical-align: middle;
}

.animation-transition-general, .carousel .carousel-indicators li {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }


.animation-transition-slow {
  -webkit-transition: all 370ms linear;
  -moz-transition: all 370ms linear;
  -o-transition: all 370ms linear;
  -ms-transition: all 370ms linear;
  transition: all 370ms linear;
}

.animation-transition-fast, .navbar {
  -webkit-transition: all 150ms ease 0s;
  -moz-transition: all 150ms ease 0s;
  -o-transition: all 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 0;
}
.form-horizontal .radio {
  margin-bottom: 10px;
}
.form-horizontal label {
  text-align: right;
}
.form-horizontal label.control-label {
  margin: 0;
}

.profile{
  padding-top: 4%;
}
.offersHead{
  padding-top: 4%;
}

.borderLogin{
  border-style: solid;
  border-width: thin;
  border-left-color: #464646;
  border-top-color: #464646;
  border-right-color: #464646;
  border-bottom-color: #464646;
  padding-top: 2%;
  border-radius: 5px;
}

input,
label > span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 10px;
}

textarea:focus,
input:focus {
  outline: 0;
}

input.loginanimation,
textarea.loginanimation {
  font-size: 10px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}


input.loginanimation + label,
textarea.loginanimation + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.loginanimation:focus + label,
textarea.loginanimation:focus + label {
  width: 100%;
}
.emailMessage{
  float:left;
}
input.loginanimation:focus + label > span,
textarea.loginanimation:focus + label > span,
input.loginanimation:valid + label > span,
textarea.loginanimation:valid + label > span {
  top: -50px;
  font-size: 13px;
  color: #b70000;
}

input.loginanimation:valid + label,
textarea.loginanimation:valid + label {
  border-color: #b70000;
}

input.loginanimation:invalid,
textarea.loginanimation:invalid {
  box-shadow: none;
}

input.loginanimation + label > span,
textarea.loginanimation + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: -40px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #EEE;
}

input[type="submit"]:active {
  background: #999;
}

input.loginanimation:valid ~ input[type="submit"], textarea.loginanimation:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.loginanimation:invalid ~ input[type="submit"], textarea.loginanimation:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
.center {
    text-align: center;
}
.center > div, .center > table /* insert any other block-level elements here */ {
    margin-left: auto;
    margin-right: auto;
}
.btn,
.navbar .navbar-nav > li > a.btn {
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 10px 20px;
  margin: 5px 1px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn::-moz-focus-inner,
.navbar .navbar-nav > li > a.btn::-moz-focus-inner {
  border: 0;
}
.btn, .btn.btn-default,
.navbar .navbar-nav > li > a.btn,
.navbar .navbar-nav > li > a.btn.btn-default {
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}



@keyframes rippleOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rippleOff {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
legend {
  margin-bottom: 20px;
  font-size: 21px;
}

output {
  padding-top: 8px;
  font-size: 14px;
  line-height: 1.42857;
}

.form-control {
  height: 36px;
  padding: 10px 1px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 1.42857;
}

.errorText{
color: red;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 36px;
  }
  input[type="date"].input-sm, .input-group-sm input[type="date"],
  input[type="time"].input-sm, .input-group-sm
  input[type="time"],
  input[type="datetime-local"].input-sm, .input-group-sm
  input[type="datetime-local"],
  input[type="month"].input-sm, .input-group-sm
  input[type="month"] {
    line-height: 24px;
  }
  input[type="date"].input-lg, .input-group-lg input[type="date"],
  input[type="time"].input-lg, .input-group-lg
  input[type="time"],
  input[type="datetime-local"].input-lg, .input-group-lg
  input[type="datetime-local"],
  input[type="month"].input-lg, .input-group-lg
  input[type="month"] {
    line-height: 44px;
  }
}
.radio label,
.checkbox label {
  min-height: 20px;
}



.form-control,
.form-group .form-control {
  border: 0;
  background-image: linear-gradient(#000000, #000000), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
}

.form-control::-webkit-input-placeholder,
.form-group .form-control::-webkit-input-placeholder {
  color: #AAAAAA;
  font-weight: 400;
}
.form-control[readonly], .form-control[disabled], fieldset[disabled] .form-control,
.form-group .form-control[readonly],
.form-group .form-control[disabled], fieldset[disabled]
.form-group .form-control {
  background-color: transparent;
}
.form-control[disabled], fieldset[disabled] .form-control,
.form-group .form-control[disabled], fieldset[disabled]
.form-group .form-control {
  background-image: none;
  border-bottom: 1px solid #D2D2D2;
}

.form-group {
  position: relative;
}
.form-group.label-static label.control-label, .form-group.label-placeholder label.control-label, .form-group.label-floating label.control-label {
  position: absolute;
  pointer-events: none;
  transition: 0.3s ease all;
}
.form-group.label-floating label.control-label {
  will-change: left, top, contents;
}
.form-group.label-placeholder:not(.is-empty) label.control-label {
  display: none;
}

#vipMessage{
  display: inline-block;
  font-size: 20px;
  font-family: Overpass, sans-serif;
  font-weight: 300;
}

#vipSeating{
  display: inline-block;
}


label.control-label {
  font-size: 11px;
  line-height: 1.07143;
  color: #AAAAAA;
  font-weight: 400;
  margin: 16px 0 0 0;
}

.help-block {
  margin-top: 0;
  font-size: 11px;
}


.carousel {
  position: relative;
  width:100%;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-small{
  width: 580px;
  height: 360px;
}

.coming-soon {
  position: absolute;
  top: 0px;
  left: 19px;
  background-color: red;
  font-size: 14px;
  color: white;
  font-family: Overpass;
}

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
  perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  transform: translateX(0);
}

@supports (transform-style: preserve-3d) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  transform: translateX(100%);
}

@supports (transform-style: preserve-3d) {
  .carousel-item-next,
  .active.carousel-item-right {
    transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  transform: translateX(-100%);
}

@supports (transform-style: preserve-3d) {
  .carousel-item-prev,
  .active.carousel-item-left {
    transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #ffffff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-prev:focus, .carousel-control-prev:hover,
.carousel-control-next:focus,
.carousel-control-next:hover {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-bottom: 20px;
  /* margin-bottom: 10%; */
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 20%;
  margin-left: 20%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #ffffff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
.banner-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 200px;
  color: #ffffff;
  text-align: center;
}

.carousel .carousel-control.left, .carousel .carousel-control.right {
  background-image: none;
}

.carousel .carousel-control.right i {
  right: 0;
}

.carousel .card {
  margin-top: 0;
}

.carousel .item {
  text-align: center;
}

.carousel.carousel-full-nagivation .carousel-control {
  width: 50%;
}

.carousel.carousel-full-nagivation .carousel-control.left, .carousel.carousel-full-nagivation .carousel-control.right {
  background-image: none;
}

.carousel.carousel-full-nagivation .carousel-control .material-icons,
.carousel.carousel-full-nagivation .carousel-control .fa {
  display: none;
}

.carousel.carousel-full-nagivation .left {
  cursor: url("../img/arrow-left.png"), url("../img/arrow-left.cur"), default !important;
}

.carousel.carousel-full-nagivation .right {
  cursor: url("../img/arrow-right.png"), url("../img/arrow-right.cur"), default !important;
}

.carousel .carousel-control {
  height: 15%;
  margin: auto;
}

.carousel .carousel-control-prev .material-icons,
.carousel .carousel-control-next .material-icons {
  z-index: 5;
  display: inline-block;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
}

.carousel .carousel-indicators {
  bottom: 5px;
}

.carousel .carousel-indicators li,
.carousel .carousel-indicators .active {
  margin: 11px 10px;
}

.carousel .carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.carousel .carousel-indicators .active {
  margin-top: 10px;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.carousel .carousel-caption {
  padding-bottom: 45px;
}

.carousel .carousel-caption .material-icons {
  position: relative;
  top: 5px;
}

.page-header .carousel .carousel-indicators {
  bottom: 60px;
}

.carousel .card .card-body {
  max-width: 340px;
  margin: 0 auto;
  min-height: 400px;
}


.label {
  border-radius: 10px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 10px;
}
.label.label-default {
  background-color: #999999;
}


.tab-space {
  padding: 20px 0 50px 0px;
}

footer {
  padding: 0px 0;
}
footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: inherit;
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block;
}
footer ul li a:hover {
  text-decoration: none;
}



legend {
  border-bottom: 0;
}

.navbar {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
.navbar .navbar-brand {
  position: relative;
  height: 50px;
  line-height: 30px;
  color: inherit;
  padding: 10px 15px;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: inherit;
  background-color: transparent;
}
.navbar .navbar-text {
  color: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
}
.navbar .navbar-nav > li > a {
  color: inherit;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: inherit;
  background-color: transparent;
}
.navbar .navbar-nav > li > a .material-icons,
.navbar .navbar-nav > li > a .fa {
  font-size: 20px;
  max-width: 20px;
}
.navbar .navbar-nav > li > a:not(.btn-just-icon) .fa {
  position: relative;
  top: 2px;
  margin-top: -4px;
  margin-right: 4px;
}
.navbar .navbar-nav > li > .dropdown-menu {
  margin-top: -20px;
}
.navbar .navbar-nav > li.open > .dropdown-menu {
  margin-top: 0;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar .navbar-nav > .disabled > a, .navbar .navbar-nav > .disabled > a:hover, .navbar .navbar-nav > .disabled > a:focus {
  color: inherit;
  background-color: transparent;
  opacity: 0.9;
}
.navbar .navbar-toggle {
  border: 0;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: transparent;
}
.navbar .navbar-toggle .icon-bar {
  background-color: inherit;
  border: 1px solid;
}
.navbar .navbar-default .navbar-toggle,
.navbar .navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-top: none;
  box-shadow: none;
}




.navbar.navbar-default .logo-container .brand {
  color: #555555;
}
.navbar .navbar-link {
  color: inherit;
}
.navbar .navbar-link:hover {
  color: inherit;
}
.navbar .btn {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar .btn-link {
  color: inherit;
}
.navbar .btn-link:hover, .navbar .btn-link:focus {
  color: inherit;
}
.navbar .btn-link[disabled]:hover, .navbar .btn-link[disabled]:focus, fieldset[disabled] .navbar .btn-link:hover, fieldset[disabled] .navbar .btn-link:focus {
  color: inherit;
}

.navbar.navbar-transparent {
  /* background-color: #000000; */
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  padding-top: 25px;
}



.navbar.navbar-solid {
  background-color: inherit;
  display: relative;
  left: 0;
  top: 0;
  content: "";
  box-shadow: none;
  color: rgb(255, 255, 255);
  padding-top: 20px;
}

.navbar.navbar-transparent .logo-container .brand {
  color: #FFFFFF;
}
.navbar-fixed-top {
  border-radius: 0;
}


p, .p{
  font-size: 1.2em;
  line-height: auto;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.p2{
  font-size: 1.0em;
  line-height: 1.7em;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}


h1, .h1 {
  font-size: 3.0em;
  line-height: 1.15em;
  font-family: 'Overpass', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

h2, .h2 {
  font-size: 1.85em;
  line-height: 1.4em;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.nav-title {
  font-weight: bold;
  font-size: 1.9em;
  line-height: 1.4em;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 1.35em;
  line-height: 1.4em;
  margin: 20px 0 10px;
}



h4, .h4 {
  font-size: 1.3em;
  line-height: 1.4em;


}

h5, .h5 {
  font-size: 1.28em;
  line-height: 1.4em;
  margin-bottom: 15px;
  color: rgb(209, 27, 27);
}

h6, .h6 {
  font-size: 1em;
  text-transform: uppercase;
}

.date-title{
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding: 2px 14px;
}



.detail-title {
  font-size: 3.0em;
  line-height: 1.15em;
  font-family: 'Voltaire', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.detail-title2 {
  font-size: 3.0em;
  line-height: 1.15em;
  font-family: 'Voltaire', sans-serif;
  color: #d11b11;
  text-transform: uppercase;
  text-align: center;
}

.cal-title{
  font-family: 'Voltaire', sans-serif;
  font-size: 1.85em;
  line-height: 1.4em;
  margin: 20px 0 10px;
  text-transform: uppercase;
  color: white;
  text-align: left;
}



.footer-title {
  font-size: 1.2em;
  line-height: 1.0em;
  /* margin-bottom: 15px; */
  color: #FFFFFF;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.footer-title:hover {
  color: rgb(209, 27, 27);
  cursor: pointer;
}

.image-hover{
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.image-hover:hover{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 100%;
  height: 100%;
}


.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
  font-weight: 700;
}
.title,
.title a,
.card-title,
.card-title a,
.info-title,
.info-title a,
.footer-brand,
.footer-brand a,
.footer-big h5,
.footer-big h5 a,
.footer-big h4,
.footer-big h4 a,
.media .media-heading,
.media .media-heading a {
  color: #757575;
  text-decoration: none;
}

h2.title {
  margin-bottom: 30px;
}

.description,
.card-description,
.footer-big p {
  color: #fff;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 16; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



.modal-header {
    padding: 2px 16px;
    background-color: black;
    text-align: left;
    color: #d11b11;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    text-align: left;
    background-color: #D11B11;
    color: white;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.modal-content {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  border: none;
}
.modal-content .modal-header {
  border-bottom: none;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 24px;
}
.modal-content .modal-body {
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
}
.modal-content .modal-footer {
  border-top: none;
  padding: 7px;
}
.modal-content .modal-footer button {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
}
.modal-content .modal-footer button.pull-left {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;

}
.modal-content .modal-footer button + button {
  margin-bottom: 16px;
}
.modal-content .modal-body + .modal-footer {
  padding-top: 0;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.modal .modal-dialog {
  margin-top: 100px;
}


.img-thumbnail {
  border-radius: 10px;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  display: inline-block;
}

.img-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: 0;
}

a:focus, a:active,
button:active, button:focus, button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}

.section {
  padding: 70px 0;
}

.section-navbars {
  padding-bottom: 0;
}

.section-full-screen {
  height: 100vh;
}

.section-signup {
  padding-top: 20vh;
}


.dropdownjs::after {
  right: 5px;
  top: 3px;
  font-size: 25px;
  position: absolute;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  content: "\e5c5";
  pointer-events: none;
  color: #757575;
}


.withripple {
  position: relative;
}

.ripple-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  pointer-events: none;
}

.ripple {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1);
  transform-origin: 50%;
  opacity: 0;
  pointer-events: none;
}

.ripple.ripple-on {
  transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
  opacity: 0.1;
}

.ripple.ripple-out {
  transition: opacity 0.1s linear 0s !important;
  opacity: 0;
}

.wrapper > .header {
  background-position: center center;
  background-size: cover;
}

.main {
  background: #000000;
  position: relative;
  z-index: 3;
}

.mainTwo {
  background: #EEEEEE;
  position: relative;
  z-index: 3;
}

.main-raised {
  margin: 0px 30px 0px;
  border-radius: 0px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.title {
  font-family: 'Voltaire', sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: rgb(209, 27, 27);
  text-align:left;
  margin: 2px;
}

.title2 {
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  color: #fff;
  padding-top:8px;
  font-size: 1.45em;
}

.title3 {
  font-family: 'Overpass', sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: #D11B11;

}


h2.title {
  margin-bottom: 30px;
}

.description {
  color:rgba(26,26,26,0.6);
  line-height: 1.8em;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  text-align: center;
}

.description-small {
  color:rgba(26,26,26,0.6);
  line-height: 1.4em;
  letter-spacing: 0px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.description-large {
  font-family: 'Overpass', sans-serif;
  color:rgba(26,26,26,0.6);
  font-size: 20px;
  line-height: 2.0em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}

.header-filter {
  position: relative;
}
.header-filter:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}
.header-filter .container {
  z-index: 2;
  position: relative;
}

.gallery .image img {
  width: 100%;
}

.features {
  padding: 80px 0 0;
}

.team {
  margin-top: 80px;
}
.team .team-player .title {
  margin: 30px auto;
}
.team .team-player img {
  max-width: 170px;
}

.nav-align-center {
  text-align: center;
}
.nav-align-center .nav-pills {
  display: inline-block;
}

.navbar-absolute {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 1031;
}

.index-page .wrapper > .header {
}
.index-page .brand {
  margin-top: 30vh;
  color: #FFFFFF;
  text-align: center;
}
.index-page .brand h1 {
  font-weight: 700;
}
.index-page .brand h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  max-width: 400px;
  margin: 10px auto 0;
}



.index-page .header {
}
.index-page .header .container {
  padding-top: 26vh;
  color: #FFFFFF;
}
.index-page .header .share {
  margin-top: 150px;
}
.index-page .header h1 {
  font-size: 3.5em;
  font-weight: 700;
}

.index-page .header .title {
  color: #FFFFFF;
}

.index-page .wrapper {
  background: #000000;
}

.pay-page .header {
  height: 200px;
  background-position: top center;
}

.pay-page .header2 {
  height: 25vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pay-page .header3 {
  height: 14vw;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.profile-page .header {
  height: 600px;
  background-position: top center;
}



.profile-page .header2 {
  height: 75vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-page .header3 {
  height: 24vw;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.profile-page .header4 {
  height: 10vw;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}


.profile-page .profile {
  text-align: center;
}

.profile-page .description {
  margin: 30px auto 0;
  max-width: 600px;
}

.index-page .navbar-transparent,
.profile-page .navbar-transparent,
.signup-page .navbar-transparent,
.index-page .navbar-transparent {
  padding-top: 25px;
}

@media (max-width: 991px) {
  .index-page .header {
    height: auto;
  }
  .index-page .header .container {
    padding-bottom: 70px;
  }
}
@media (max-width: 768px) {
  #carousel-inner{
    width: 100%;
    height: auto;
  }
  #carousel-inner a{
    font-size: 18px;
  }

  #carousel-inner h1{
    font-size: 32px;
  }

  #carousel-inner h2{
    font-size: 18px;
  }

  #carousel-inner h5{
    font-size: 14px;
  }

  #carousel-inner .buttonR{
    font-size: 12px;
    padding: 5px;
    width:auto;
    margin-bottom:10px;
    margin-top: 10px;
  }

  #carousel-inner img{
    width: 38px;
  }
  
  .footer .copyright {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    float: none !important;
    width: 100%;
  }
  #logo-container {
    width: 200px;
    margin-top: -55px;
  }

  .navbar.navbar-transparent {
    background-color: #000000;
    padding-top: 10px;
    border-radius: 0;
    position: initial;
    margin-bottom: 0px;
  }


  .main-raised {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.site-navigation-row .is-notactive {
  position: relative;
  opacity: 0.6;
/*navigation-bar is active*/
}

.site-navigation-row .mdl-navigation__link:hover {
  opacity: 1;
  /* text-decoration: underline; */
  transition: 0.5s;
}

a.link-movie {
  text-decoration: none;
}

#title {
  font-size: 21px;
  color: #FFFFFF;
  display: none;
}


.animation-element {
  position: relative;
}

.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 1000ms ease-out;
  -webkit-transition: all 1000ms ease-out;
  -o-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.body-details{
  font-family: 'Roboto'sans-serif;
  text-align: right;
  font-size: 15px;

}

.body-details2{
  font-family: 'Roboto'sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.body-details3{
  font-family: 'Roboto'sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #f2b01e;
}


body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  max-width: 2650px;
  margin-left: auto;
  margin-right: auto;
}


.caption {
  font-size: 12px;
  font-weight: 300;
  line-height: 0.1;
  color: #e0dede;
  text-transform: inherit;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.caption-vip {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
  color: #e0dede;
  text-transform: inherit;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.dashboard {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  padding: 5px;
  margin: 0;
}
.dashboard > * {
  display: block;
  float: left;
  margin: 5px;
}

.tile {
  color: #212121;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
 -moz-transition: all 0.15s ease-in-out;
}


.tile:hover,
.tile:active,
.tile.active,
.tile:focus,
.tile:active:focus,
.tile.active:focus {
  font-size: 50px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tile .content-wrapper {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.tile .content-wrapper .tile-content {
  position: relative;
  display: block;
  overflow: hidden;
}
.tile .content-wrapper .tile-content .tile-img {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.tile .content-wrapper .tile-content .tile-img.tile-img-sm {
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  opacity: 0.3;
}
.tile .content-wrapper .tile-content .tile-img.tile-img-bg {
  position: absolute;
  background-position: left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tile .content-wrapper .tile-content .tile-holder {
  position: relative;
  display: block;
  padding: 0;
}
.tile .content-wrapper .tile-content .tile-holder.tile-holder-sm {
  position: absolute;
  margin: 0;
  padding: 0;
}

.tile-deep-orange {
  background-color: #ff7043;
}
.tile-deep-orange .tile-content,
.tile-deep-orange .title {
  color: #eceff1;
}
.tile-deep-orange:hover,
.tile-deep-orange:active,
.tile-deep-orange.active {
  background-color: #f4511e;
}
.tile-deep-orange:focus {
  background-color: #e64a19;
}
.tile-deep-orange:disabled,
.tile-deep-orange.disabled,
.tile-deep-orange[disabled] {
  background-color: #b3b3b3;
}
.tile-deep-orange .ink {
  background-color: #d84315;
}
.tile-deep-orange-reverse {
  background-color: #ff7043;
}
.tile-deep-orange-reverse:hover {
  background-color: #eceff1;
}
.tile-deep-orange-reverse:hover .tile-content,
.tile-deep-orange-reverse:hover .title {
  color: #ff7043;
}
.tile-deep-orange-inverse {
  background-color: #eceff1;
}
.tile-deep-orange-inverse .tile-content,
.tile-deep-orange-inverse .title {
  color: #ff7043;
}
.tile-deep-orange-inverse-reverse .tile-content,
.tile-deep-orange-inverse-reverse .title {
  color: #ff7043;
}
.tile-deep-orange-inverse-reverse:hover {
  background-color: #ff7043;
}
.tile-deep-orange-inverse-reverse:hover .tile-content,
.tile-deep-orange-inverse-reverse:hover .title {
  color: #eceff1;
}
.tile-deep-orange-inverse-reverse .ink {
  background-color: #d84315;
}



.display-animation > * {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.display-animation > .animated {
  -webkit-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: display 0.5s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
.no-js .display-animation > * {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

@keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-o-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-ms-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes display {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {

  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {

  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1f1f1f;
  color: white;
  cursor: pointer;
  padding: 18px;
  border-radius: 30px;
  transition: 0.5s;
  opacity: 0.8;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 10px 40px 0 rgba(0,0,0,0.1);
}

#myBtn:hover {
  background-color: #1f1f1f;
  opacity: 1;
}

.float{
  float: left;
}


.panel {
  border-color: #464646;
  background: none;
  box-shadow: none;
}

.panel-heading {
  padding: 0;
}

.panel-title a {
display: block;
display: inherit;
font-weight: 700;
}


.panel-footer {
    padding: 10px 10px;
    background-color: #000000;
    border-top: 0.5px solid #d11b11;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 103%;
    margin-left: -10px;
}



#accordion .panel-heading a:before {
  content: '\e316';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}


.button1 {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 8px 26px;
    border-radius: 4px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 12.5px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 15px 160px;
    border-radius: 4px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 14.5px;
    margin: 24px 25px;
    align-content: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}



.buttonG {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    border: 2px solid #D11B11;
}


.buttonG:hover {
    background-color: #D11B11;
    color: white;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 10px 40px 0 rgba(0,0,0,0.1);
}

.buttonG2 {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    border: 2px solid #D11B11;
}


.buttonG2:hover {
    background-color: #D11B11;
    color: white;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 10px 40px 0 rgba(0,0,0,0.1);
}




.buttonR {
    background-color: #d11b11;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    border: 2px solid #D11B11;
}


.buttonR:hover {
    background-color: #D11B11;
    color: white;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 10px 40px 0 rgba(0,0,0,0.1);
}


.buttonB {
    background-color: transparent;
    color: #9E9E9E;
    border: 2px solid transparent;
}


.buttonB:hover {
    background-color: #212121;
    color: #fff;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 10px 40px 0 rgba(0,0,0,0.1);
}


.buttonP {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #D11B11;
}


.buttonP:hover {
    background-color: #D11B11;
    color: white;
    transition: 0.5s;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.1), 0 10px 40px 0 rgba(0,0,0,0.1);
}

.btn2
{
  border: none;
  border-radius: 3px;
  position: relative;
  padding: 10px 20px;
  margin: 5px 1px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Icon when the collapsible content is shown */
  .btn2:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
  }
  /* Icon when the collapsible content is hidden */
  .btn2.collapsed:after {
    content: "\e080";
  }



.logo-container{
  height: auto;
  width: 300px;
  align-content: left;
  margin: -80px;
  margin-top: -65px;
  padding-left: 70px;
}

.logo-footer{
  /* display: flex;
  justify-content: flex-end; */
  height: auto;
  width: 30%;
  margin: -80px;
  padding-right: 15px;
  /* padding-left: 20px; */
  padding-top: 20px;
}

.logo-container2{
  height: auto;
  width: 20%;
  align-content: center;
  margin: -80px;
  padding-left: 70px;
}

.profile-container{
  margin: -65px;
  padding-left: 80px;
  padding-bottom: -40px;
}

.profile-container2{
  margin: -65px;
  padding-right: 15px;
  padding-bottom: -40px;
}

.join-container{
  padding-bottom: -40px;
  margin: -73px;
  padding-left: 85px;
}

.join-container2{
  margin: -63px;
  padding-right: 15px;
  padding-bottom: -40px;
}


.profile-container3{
  margin-top:-5px;
  padding-right: -55px;
  padding-bottom: 40px;
}

.navbar .nav .navbar.nav .navbar-right ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.copyright{
  font-size:14px;
  text-align: left;
}

input[type=text] {
  width: 250px;
  text-align: left;
  box-sizing: border-box;
  border: 2px #191919;
  border-radius: 4px;
  font-size: 17px;
  background-color: #000000;
  background-position: 10px 18px;
  background-repeat: no-repeat;
  padding: 10px 20px 10px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 95%;
  text-align: left;
}



.search{
/* display: inline-block; */
margin-top: 10px;
padding-left: 50px;
margin-left: 50px;
}



hr {
  height: 3.5px;
  color: #D11B1B;
  background: #D11B1B;
  border: none;
  width:200px;
}



hr.side {
  border: solid #000;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0;
}

hr.black {
  height: 3.5px;
  color: black;
  background: black;
  border: none;
  width:200px;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-right:10px;
}

.fa:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.material-icons.star {
  color: #f2b01e;
}

.margpay{
  margin-top:18%;
}
.rowMargin{
  padding-top: 5%;
}
.btnPay{
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.bgcol{
background-color: black;
}

.offerBanners{
  padding-top: 0.1%;
  height: auto;
  width: 100%;
}

.BannerContentLeft{
float:left;
padding-left: 80px;
}

.BannerContentRight{
float: right;
padding-right: 100px;

}

.BannerContentRight2{
float: right;
}

.overview-meta {
    width: 25%;
    float: left;
    z-index: 1;
    text-align: right;
    margin-right: 30px;
  }

  .overview-details .details {
      font-size: 12px;
      color: #777;
      padding-left: 40px;
      position: relative;
      margin-bottom: 1.5em;
      line-height: 130%;
  }

  .creditcard{
      float:right;
      align-self: right
      margin-top: -5%;
  }


.space{
  margin:100px;
  margin-top: 150px;
}



  .promos {
    width: 1000px;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 4px;
  }
  .promo {
    width: 250px;
    background: #0F1012;
    color: #f9f9f9;
    float: left;
    border-radius: 4px;
  }
  .deal {
    padding: 10px 0 0 0;
  }
  .deal span {
    display: block;
    text-align: center;
  }
  .deal span:first-of-type {
    font-size: 23px;
  }
  .deal span:last-of-type {
    font-size: 13px;
  }
  .promo .price {
    display: block;
    width: 250px;
    background: #292b2e;
    margin: 15px 0 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    padding: 17px 0 17px 0;
  }
  .ul2 {
    display: block;
    margin: 20px 0 10px 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    color: #999999;

  }
  .li2 {
    display: block;
    margin: 10px 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  .buttonvip {
    border: none;
    border-radius: 4px;
    background: #292b2e;
    color: #f9f9f9;
    padding: 10px 37px;
    margin: 10px 0 20px;
    font-weight: 400;
  }
  .scale {
    transform: scale(1.2);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
  }
  .scale button {
    background: #d11b11;
  }
  .scale .price {
    color: #d11b11;
  }


  .icon.icon-success {
      color: #4caf50;
  }

  .icon.icon-info {
      color: #89cff0;
  }

  .icon.icon-shop {
      color: #ffff00;
  }

  .seat {
    display: inline-table;
    margin: 3px;
    background: #8EA6B4;
    width: 25px;
    height: 16px;
}

.seat-select {
    display: none;
}

.seat-select:checked+.seat {
  background: #4CAF50;
}

.seat-select-taken {
    display: none;
}

.seat-select-taken+.seat {
  background: #C40018;
}

.checkboxVip{
  display: ruby;
}


.main{
  height: 100%;
}
.formleft{
  float:left;
}
.LoginTitle{
  font-family: 'Overpass', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: rgb(209, 27, 27);
  text-align:center;
  margin: 2px;
}

.OfferTitle{
  font-family: 'Voltaire', sans-serif;
  font-size: 3.8em;
  font-weight: bold;
  text-align:left;
  margin: 8px;
  padding-top: 20px;
  margin-right: 3%;
}

.OfferTitle2{
  font-family: 'Voltaire', sans-serif;
  font-size: 3.8em;
  font-weight: bold;
  text-align:right;
  margin: 8px;
  padding-top: 20px;
  margin-left: 3%;
}

.OfferText{
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  text-align:left;
  margin: 10px;
}

.OfferText2{
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  text-align:right;
  margin: 10px;
  margin-left: 30%;
}


.form-group{
  padding-left: 8%;
  padding-right: 8%;
}
.formbg{
  background-image: url('assets/img/lights.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.offersTitle{
  margin-left: 2%;
  margin-bottom: 2%;
  color: red;
  align: center;
}



.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}

.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: inline-block;
    text-align: left;
}

.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.credit-card-box .panel-heading img {
    min-width: 180px;
}
